// COLORS

$yellowColor1: #ffdc5d;
$greyBorderColor: #8c8c8c;
$lightGreyColor: #e7e7e7;
$greyTextMenuColor: #707070;
$blueLinkColor: #1088ca;
$blueHoverLinkColor: #0e76b0;
$blueBgColor: #0d7ebc;
$errorColor: #ff0000;
$darkTextColor: #222222;
$darkColor: #161a1f;
$darkColor2: #434343;
$successColor: #1EC445;
$lightGreen: #b9eac5;
$lightRed: #ff9f9f;
$midRed: #de4839;