@import '../../../scss/variables.scss';
.geoLocation {
    display: flex;
    align-items: center;
}
.geoIcon {
    color: $midRed;
    font-size: 20px;
}
.p {
    display: flex;
    align-items: center;
    span {
        display: inline-block;
        margin-left: 5px;
        color: $blueLinkColor;
        border-bottom: 1px dashed;
    }
}